<app-filter (filterData)="filter($event)"></app-filter>
<div class="row justify-content-around m-4">
    <div class="col-md-6 col-sm-12 card-group p-2" *ngFor="let item of posts; let i = index">
        <div class="card mb-3 card-hover">
            <div class="row g-0">
              <div class="col-md-10" (click)="goTo(item.story_url)">
                <div class="card-body">
                <p class="card-text">
                    <small class="text-muted d-flex align-items-center">
                        <span class="material-icons fs-5 me-1">schedule</span>
                        <span>
                            {{ item.time }} hours ago by {{ item.author}}
                        </span>
                    </small>
                </p>
                  <p class="card-title fs-6">{{ item.story_title }}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex align-items-center justify-content-center bg-light" (click)="setFav(i)">
                <span *ngIf="!item.fav" class="material-icons text-danger">favorite_border</span>
                <span *ngIf="item.fav" class="material-icons text-danger">favorite</span>
              </div>
            </div>
          </div>
    </div>
</div>

<app-paginator [nbPages]="nbPages" (posts)="replacePosts($event)"></app-paginator>

