<app-filter (filterData)="filter($event)"></app-filter>

<div class="container">
    <div *ngFor="let item of posts" class="post-card">
        <p class="post-card-created">
            {{ item.created_at }} 
            <span class="post-card-author">
                {{ item.author }}
            </span>
        </p>
        <p class="post-card-title"> {{ item.story_title }} </p>
        <p class="post-card-url"> {{ item.story_url }} </p>
    </div>
</div>

<app-paginator [nbPages]="nbPages" (posts)="replacePosts($event)"></app-paginator>

